/***************************************************
COLORS
***************************************************/

$darkGray: #212121;
$mediumGray: #303030;
$white: #fff;
$lightGray: rgba(200, 200, 200, 0.5);
$teal: #00b8c3;
$black: #000;
$transparentWhite: rgba(255, 255, 255, .33);



/***************************************************
GENERAL
***************************************************/

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	font-family: lato, sans-serif;
	letter-spacing: 1px;
}

a {
	text-decoration: none !important;
}

:focus {
	outline: 0;
}

.rotate-90-degrees {
	transform: rotate(90deg);
}

.smoothTransition {
	transition: all .3s ease-in-out;
}



/***************************************************
SECTIONS
***************************************************/

.ru-section-header {
	margin: 0 0 80px;
}

.ru-section-header-underline {
	background: $lightGray;
	width: 100px;
	height: 1px;
	margin: 30px auto;
}

.ru-section {
	padding: 100px 0;
	color: $white;
}

.ru-section-title {
	color: $teal;
}

.ru-section-subheading {
	font-size: 18px;
	color: $white;
}



/***************************************************
NAVIGATION
***************************************************/

nav {
	background-color: transparent;
	img {
		margin-bottom: 12px;
		max-width: 45px;
	}
	a {
		color: $white;
	}

	.glyphicon-menu-hamburger {
			color: $teal;
			font-size: 30px;
	}

	@media(min-width:768px) {
		.navbar-nav > li > a {
		    padding-top: 21px;
		    padding-bottom: 21px;
		}
		.navbar-brand {
	    	height: 60px;
	    }
	}
}

.navbar-nav {
	margin: 0 -15px;
	@media(min-width:768px) {
		.navbar-brand {
	    	height: 60px;
	    }
	}
}

.navbar {
	min-height: 0;
}

.navbar-scroll {
	background-color: $darkGray;
	box-shadow: 0 1px 5px $black;
}

.navbar-toggle {
    padding: 5px 10px;
}

.navbar-collapse {
	background-color: $mediumGray;
	border-top: none;
	
	@media(min-width: 768px) {
		background-color: transparent;
	}

	.nav li a {
		&:focus {
			background-color: $teal;
			color: $white;
		}
		&:hover {
			background-color: $teal;
			color: $white;
		}
		@media(max-width: 768px) {
			padding-top: 21px;
			padding-bottom: 21px;
		}
	}
}



/***************************************************
FOOTER
***************************************************/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: $darkGray;
	p {
	    display: inline-block;
	    padding-top: 30px;
	    padding-right: 10px;
	    padding-left: 10px
	}
}



/***************************************************
LANDING
***************************************************/

.landing {
	background-image: url(../../assets/images/imageLanding.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: $white;
	z-index: 1;
}

.landing:after {
    background-color: #fff;
    display: block;
    opacity: 1;
}

.name {
	position: absolute;
	bottom: 40%;
	right: 0;
	left: 0;

	h1 {
		font-size: 112px;
		margin: 0;
	}

	h2 {
		margin: 0;
		font-weight: 300;
		font-size: 82px;
	}

	p {
		font-size: 46px;
		font-weight: 200;
		letter-spacing: 5px;
	}
}

.scroll-button-container {
	width: 200px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;

	#introScrollButton {
		font-size: 50px;
		max-width: 20px;
		max-height: 20px;
		&:focus {
			color: $teal;
		}
		&:hover {
			color: $teal;
		}
	}
}

@media(max-width:767px) {
	.name {
		margin-top: 300px;

		h1 {
			font-size: 62px;
		}

		h2 {
			font-size: 42px;
		}

		p {
			font-size: 18px;
		}
	}
}



/***************************************************
INTRO GREETING
***************************************************/

#intro-greeting {
	background-color: $darkGray;
}



/***************************************************
WHAT I DO
***************************************************/

#what-i-do {
	background-color: $mediumGray;
	.icon-block {
		background-color: $darkGray;
		padding: 50px 20px 50px;
		height: 315px;
	}

	.icon-block-icon {
		color: $teal;
		font-size: 45px;
	}
}

@media(max-width:767px) {
	.icon-block {
		margin-bottom: 25px;
	}
}



/***************************************************
PORTFOLIO
***************************************************/

#portfolioSection {
	background-color: $darkGray;
	color: $white;
	.portfolio-category-btn {
		padding-bottom: 5px;
		&:hover {
			cursor: pointer;
		}
	}
	.category-btn-active {
		border-bottom: 1px solid $teal;
	}

    .portfolio-category-item {
        height: 300px;
    }

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: rgba(33, 33, 33, 0.8);
	}

	.overlay:hover, .overlay:focus  {
		opacity: 1;
	}

	.overlay-text {
		position: absolute;
		top: 50%;
		left: 50%;
		color: $white;
		transform: translate(-50%, -50%);
	}

	.overlay-underline {
		background: $lightGray;
		width: 225px;
		height: 1px;
		margin: 20px auto;
	}

	@media(max-width: 767px) {
		.overlay {
			opacity: 1;
		}
	}
}



/***************************************************
SOCIAL
***************************************************/

#contactSection {
	background-color: $mediumGray;

	.social-links {
		li {
			margin: 10px;
		}

		a {
			width: 70px;
			height: 70px;
			display: block;
			line-height: 67px;
			border: 1px solid $transparentWhite;
			border-radius: 5px;
			font-size: 30px;
			color: $white;
			&:hover {
				border-color: $teal;
				i {
					color: $teal;
				}
			}
		}
	}
}


@import "project-page";
@import "scroll-top-button";









