/***************************************************
COLORS
***************************************************/
/***************************************************
GENERAL
***************************************************/
html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px;
  font-family: lato, sans-serif;
  letter-spacing: 1px; }

a {
  text-decoration: none; }

:focus {
  outline: 0; }

.rotate-90-degrees {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.smoothTransition {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

/***************************************************
SECTIONS
***************************************************/
.ru-section-header {
  margin: 0 0 100px; }

.ru-section-header-underline {
  background: rgba(200, 200, 200, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto; }

.ru-section {
  padding: 100px 0;
  color: #fff; }

.ru-section-title {
  color: #00b8c3; }

.ru-section-subheading {
  font-size: 18px;
  color: #fff; }

/***************************************************
NAVIGATION
***************************************************/
nav {
  -webkit-box-shadow: 0 1px 5px #000;
          box-shadow: 0 1px 5px #000;
  background-color: #212121; }
  nav img {
    margin-bottom: 12px;
    max-width: 35px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    nav img:focus {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
    nav img:hover {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
  nav a {
    color: #fff; }
  nav span.icon-bar {
    background-color: #00b8c3;
    padding: 1.5px; }

.navbar-nav {
  margin: 0 -15px; }

.nav li a:focus {
  background-color: #00b8c3;
  color: #fff; }

.nav li a:hover {
  background-color: #00b8c3;
  color: #fff; }

/***************************************************
FOOTER
***************************************************/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: #fff;
  background-color: #212121; }
  footer p {
    display: inline-block;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px; }

/***************************************************
LANDING
***************************************************/
.landing {
  background-image: url(../../assets/images/imageLanding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff; }

.name {
  position: absolute;
  bottom: 40%;
  right: 0;
  left: 0; }
  .name h1 {
    font-size: 112px;
    margin: 0; }
  .name h2 {
    margin: 0;
    font-weight: 300;
    font-size: 82px; }
  .name p {
    font-size: 46px;
    font-weight: 200;
    letter-spacing: 5px; }

.scroll-button-container {
  width: 200px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0; }
  .scroll-button-container #introScrollButton {
    font-size: 50px;
    max-width: 20px;
    max-height: 20px; }
    .scroll-button-container #introScrollButton:focus {
      color: #00b8c3; }
    .scroll-button-container #introScrollButton:hover {
      color: #00b8c3; }

@media (max-width: 767px) {
  .name {
    margin-top: 300px; }
    .name h1 {
      font-size: 62px; }
    .name h2 {
      font-size: 42px; }
    .name p {
      font-size: 18px; } }

/***************************************************
INTRO GREETING
***************************************************/
#intro-greeting {
  background-color: #212121; }

/***************************************************
WHAT I DO
***************************************************/
#what-i-do {
  background-color: #303030; }
  #what-i-do .icon-block {
    background-color: #212121;
    padding: 50px 20px 20px;
    height: 315px; }
  #what-i-do .icon-block-icon {
    color: #00b8c3;
    font-size: 45px; }

/***************************************************
PORTFOLIO
***************************************************/
#portfolioSection {
  background-color: #212121;
  color: #fff; }
  #portfolioSection .portfolio-category-btn {
    padding-bottom: 5px; }
    #portfolioSection .portfolio-category-btn:hover {
      cursor: pointer; }
  #portfolioSection .category-btn-active {
    border-bottom: 1px solid #00b8c3; }
  #portfolioSection .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 1170px;
    margin: 0 auto; }
  #portfolioSection .flex-item {
    width: 300px;
    height: 300px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin: 20px;
    overflow: hidden;
    position: relative; }
    #portfolioSection .flex-item img {
      width: 100%; }
  #portfolioSection .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #303030; }
  #portfolioSection .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  #portfolioSection .overlay-underline {
    background: rgba(200, 200, 200, 0.5);
    width: 225px;
    height: 1px;
    margin: 20px auto; }
  @media (min-width: 695px) {
    #portfolioSection .overlay {
      opacity: 0; }
    #portfolioSection .overlay:hover {
      opacity: 1; } }

/***************************************************
SOCIAL
***************************************************/
#contactSection {
  background-color: #303030; }
  #contactSection .social-links li {
    margin: 10px; }
  #contactSection .social-links a {
    width: 70px;
    height: 70px;
    display: block;
    line-height: 67px;
    border: 1px solid rgba(255, 255, 255, 0.33);
    border-radius: 5px;
    font-size: 30px;
    color: #fff; }
    #contactSection .social-links a:hover {
      border-color: #00b8c3; }
      #contactSection .social-links a:hover i {
        color: #00b8c3; }
